*{
    background-color: #4444ff;
    margin:0 auto;
}
.center{
    margin:0 auto;
    border:2px solid #000;
}
form {
    padding-top: 10px;
    text-align: center;
    color:#fff;
}
h1{
    text-align: center;
    font-weight: 900;
}
textarea{
    background-color: #fff;

}
input{
    background-color: #fff;
}
button{
    padding-bottom: 2px;
    background-color: #fff;
}
.addBtn{
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
#profile{
    float: right;
    margin-top:10px;
    margin-right: 10px;

}