@import "normalize.css";
@import "reset.css";
.container1{
    clear: both;
    margin:auto;
    background-color: #ebecf2;
    width:1198px;
    height: 1309px;
}
.header{
    background-color: #384b59;
}
.top-right-icons{
    background-color: #384b59;
    float: right;
}

.imageinheader{
    background-color: #384b59;
    
}
h1{
    text-transform:uppercase;
    font-family:'QUICKSAND';
    padding: 63px 0px 0px 24px;
    font-size:  18px;
}
.logo{
    padding:20px;
}
.logo, .menu{
    background-color: #384b59;;
}
.block1{
    width: 1198px;
    height:120px;
    margin: 38px 0  0 22px;
    display:inline-block;
}
.yellowRectangle{
    background-color: #fec006;
    height: 112px;
    width: 271px;
    display: inline-block;
}
.budget{
    color:#fff;
    text-transform: uppercase;
    font-family: 'QUICKSAND';
    font-size: 16px;
    padding-left:18px;
    padding-top:10px;
}
.number23M{
    margin-left:18px;
    color:#fff;
    font-family: 'QUICKSAND';
    font-size: 30px;
    padding-top: 45px;
}
.dollar{
    width: 95px;
    height: 112px;
    float: right;
}
.doller-icon{
    background-color: #f1b606;
    padding:32px 28px 33px 23px;
}


.pinkRectangle{
    background-color: #e81d62;
    height: 112px;
    width: 271px;
    margin-left: 10px;
    display: inline-block;
}
.milestone{
    color:white;
    text-transform: uppercase;
    font-family: 'QUICKSAND';
    font-size: 16px;
    padding-left:18px;
    padding-top:10px;
}
.twentyfour{
    color:#fff;
    font-family: 'QUICKSAND';
    font-size: 30px;
    padding-top: 45px;
    padding-left:18px;
}
.graph{
    width: 95px;
    height: 112px;
    float: right;
    background-color: #dc1c5d;
}


.graph-icon{
    background-color: #dc1c5d;
    padding:32px 28px 33px 23px;
}

.greenRectangle{
    background-color: #8ac249;
    height: 112px;
    width: 271px;
    margin-left:20px;
    display: inline-block;
}
.tasks{
    color:white;
    text-transform: uppercase;
    font-family: 'QUICKSAND';
    font-size: 16px;
    padding-left: 18px;
    padding-top:10px;
}
.onethree7{
    color:#fff;
    font-family: 'QUICKSAND';
    font-size: 30px;
    padding-top: 45px;
    padding-left:18px;
}
.tasklist{
    width: 95px;
    height: 112px;
    float:right;
}

.checklist-icon{
    padding:32px 28px 33px 23px; 
    background-color: #83b845;
}

.blueRectangle{
    background-color: #2095f2;
    height: 112px;
    width: 271px;
    float: right;
    margin-right:35px;
}
.documents{
    color:white;
    text-transform: uppercase;
    font-family: 'QUICKSAND';
    font-size: 16px;
    margin-left: 18px;
    padding-top:10px;
}

.two41{
    color:#fff;
    font-family: 'QUICKSAND';
    font-size: 30px;
    float:left;
    padding-top: 45px;
    padding-left: 18px;
}
.file-icon{
    width: 95px;
    height: 112px;
    float:right;
}
.fileicon{
    background-color: #1e8de6;
    padding: 32px 28px 33px 23px ;
}
.yellowbox{
    width:179px;
    height:112px;
}
.pinkbox{
    width:179px;
    height:112px;
}
.greenbox{
    width:179px;
    height:112px;
}
.bluebox{
    width:179px;
    height:112px;
}
.arrow-right-icon{
    padding-right:30px;
    float:right;
}
.arrow-left{
    padding-left: 20px;
    transform: rotateY(180deg);
    float: right;
}

.container3{
    padding-top: 38px;
}
.boxa1{
    top: 5px;
    margin-left:22px;
    background-color:#fff;
    height:227px;
    width:272px;
    display: inline-block;
}
.boxa2{
    background-color:#fff; 
    height:227px; 
    width:272px; 
    margin-left:22px;
    top: 5px;
    display: inline-block;
}
.one{
    float:right;
    font-size: 34px;
    margin-right:22px;
    color: #e1e2e9;
    font-family: 'Quicksand';
    display:inline;
}
.boxa3{
    top: 5px;
    margin-left:22px;
    background-color:#fff;
    height:227px;
    width:272px;
    display: inline-block;
}
.boxa4{
    top: 5px;
    background-color:#fff; 
    height:227px; 
    width:272px; 
    margin-left:22px;
    display: inline-block;
}
footer{
    height: 19px;
    width:1198px;
    background-color:#384b59;
    font-size: 11px;
    color: #9caab4;
    font-family: 'Lato';
    text-align: right;
    text-transform: uppercase;
    padding-bottom: 17px;
    padding-top: 19px;
    float: right;
    margin-top: 120px;
}
.whiteboxmilestone{
    font-size: 16px;
    color: #363f45;
    font-family: 'Quicksand';
    text-transform: uppercase;
    margin:15px 46px 23px 95px;
    display: inline-block;
}
.bar{
    border-radius: 50px;
    margin-top: 30px;
    margin-left:28px;
    width: 1153px;
    margin-right:23px;
    background-color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
}
.c1-outer{
    border-radius: 50%;
    border-color:#eff7e6;
    border-width:2px;
    margin:28px 85px 26px 75px;
    width:112px;
    height:112px;
    background-color: #8ac249;    
}
.c1-inner{
    border-radius: 50%;
    border-width:2px;
    margin:9px 9px;
    width:93px;
    height:93px;
    background-color:#f6efd2;
    display:inline-block;
}
.percent{
    text-align: center;
    font-family: "LATO";
    font-size: 30px;
    margin:26px 20px 51px 15px;
}
.colorbar{
    width:300px;
    background-color:#d4c69b;
    height:6px;
    border-radius: 50%;
    text-align:center;
    border-radius: 2px; 
    margin-top:2px;
    margin-bottom:2px;
}
.c2-inner{
    border-radius: 50%;
    border-width:2px;
    margin:9px 9px;
    width:93px;
    height:93px;
    background-color:#f6efd2;
    display: inline-block;
}
.c2-outer{
    background-color: #fec606;
    border-radius: 50%;
    border-width:2px;
    margin:28px 85px 26px 75px;
    width:112px;
    height:112px;
}
.c3-outer{
    background-color: #f5f5f5;
    border-radius: 50%;
    margin:28px 85px 26px 75px;
    width:112px;
    height:112px;
}

.c3-inner{
    border-radius: 50%;
    border-width:2px;
    margin:9px 9px;
    width:93px;
    height:93px;
    background-color:#f6efd2;
    display:inline-block;
}
.c4-outer{
    background-color:#f5f5f5;
    border-radius: 50%;
    border-width:2px;
    margin:28px 85px 26px 75px;
    width:112px;
    height:112px;
}

.c4-inner{
    border-radius: 50%;
    border-width:2px;    
    margin:9px 9px;
    width:93px;
    max-height:93px;
    background-color:#f6efd2;
    display:inline-block;
}
.bottom{
    margin-top:60px;
    padding-left: 22px;
}
box1{
    height: 341px;
    background-color: #fff;
    padding:10px;
}
.more-icon{
    padding-right:30px;
    float: right;
}
.more-icon-bottom{
    margin-right:31px;
    margin-top:20px;
    margin-bottom: 20px;
    float:right;
}
.row2{
    font-family: 'lato';
    font-size: 13px;
    text-transform: uppercase;
    background-color:#e1f5e3;
    padding: inherit;
    color: #1e3620;
}
.date-in-row{
    float: right;
    margin-right:66px;
    margin-top:16px;
    margin-bottom:16px;
    font-family: 'lato';
    font-size:13px;
}
.checkbox-icon{
    float:left;;
    margin-right:31px;
    
}

table{
    font-family: 'quicksand';
    font-size: 16px;
    width: 564px;
    text-transform: uppercase;
    background-color: #fff;
    float: left;
    margin-left: 1pc;
    height: 373px;
    text-align:left;
    border-bottom:1px solid #ebecf2;
}
td{
    margin-bottom:5px;
    font-family: 'lato';
    font-size: 13px;
    text-transform: none;
    border-bottom: 2px solid #ebecf2;
}
.text{
    text-align: center;
}

.row22{
    width: 30%;
    padding:20px;
    text-transform: none;
    border:none;
}
.w2-round-xlarge{
    border-radius: 16px;
    width: 193px;
}
  
.w3-round-xlarge{
    border-radius: 16px;
    width: 116px;
}
.w4-container{
    padding:0.5em 16px;
   
}
.w1-round-xlarge{
    border-radius: 16px;
    width: 153px;
}
.w4-light-grey{
    position:relative;
    background-color: #e1e2e6;
    border-bottom:none;
    width: 343px;
    height:1.0em;
    border-radius: 16px;
}
.w4-blue{
    height:10%;
    background-color: #5fccc1;
}
.menu:hover{
    background-color:#4a5b68;
    padding-top:5px;
    padding-right:5px;
}
.number1{
    position: absolute;
    left:159px;
    width:34px;
    height:25px;
    background-color: #5fccc1;
    bottom:27px;
}
.four3{
    color: #fff;
    font-family: 'LATO';
    font-size: 12px;
    text-align:center;
    display:inline;
}
.number2{
    position: absolute;
    right:113px;
    bottom:31px;
    width:34px;
    height:25px;
    background-color: #5fccc1;
}
.number3{
    position: absolute;
    width:34px;
    height:25px;
    background-color: #5fccc1;
    bottom:27px;
    right:190px;
}
th{
    text-align:left;
    margin-bottom: 10px;
    font-family: 'Quicksand';
    font-size: 16px;
    margin-left:52px;
    padding-left:10px;  
}
.col1{
    text-align: left;
    padding-left:31px;
    padding-top:23px;
    padding-bottom:20px;
    margin-bottom: 10px;
    text-transform: initial;
}
.number1:after{
    top:100%;
    left:50%;
    width:50%;
    height:23%;
    position: absolute;
    background-color: #5fccc1;
    border-top:0px solid #5fccc1;
    border-right: 2px solid #5fccc1;
    border-bottom: 2px solid #5fccc1;
    border-left:0px solid #5fccc1;
    margin-top:-8px;
    transform: rotate(45deg);
    margin-left:  -11px;
    content:"";
}
.number2:after{
    content: "";
    top:100%;
    left:50%;
    width:50%;
    height:23%;
    position: absolute;
    background-color: #5fccc1;
    border-top:0px solid #5fccc1;
    border-right: 2px solid #5fccc1;
    border-bottom: 2px solid #5fccc1;
    border-left:0px solid #5fccc1;
    margin-top:-8px;
    transform: rotate(45deg);
    margin-left:  -11px;
}
.number3::after{
    content: "";
    top:100%;
    left:50%;
    width:50%;
    height:23%;
    position: absolute;
    background-color: #5fccc1;
    border-top:0px solid #5fccc1;
    border-right: 2px solid #5fccc1;
    border-bottom: 2px solid #5fccc1;
    border-left:0px solid #5fccc1;
    margin-top:-8px;
    transform: rotate(45deg);
    margin-left:  -11px;
}
.percentage{
    font-size:16px;
    font-family: 'lato';
    text-align:center;
}
.check{
    width: 18px;
    height: 19px;
    background-color: #fff;
}
.boxb42{
    border-top:1px solid #ebecf2 ;
}
.boxb32{
    border-top:1px solid #ebecf2 ;
}
.boxb22{
    border-top:1px solid #ebecf2 ;
}
.boxb12{
    border-top:1px solid #ebecf2 ;
}
.table1rows{
    padding-top: 24px;
    padding-left: 31px;
    padding-bottom: 20px;
    text-align: left;
    font-family: 'lato';
    font-size: 13px;
    text-transform: initial;
    text-align: left;
}

.message{
    margin-right:71px;
    margin-top:21px;
    display:inline-block;
}
.settings{
    margin-right:50px;
    margin-top:21px;
    display:inline-block;
}
.search{
    margin-right:21px;
    margin-top:21px;
    display:inline-block;
}

.search:hover{
    background-color:#4a5b68;
    padding:10px;
}
.settings:hover{
    background-color:#4a5b68;
    padding:10px;
}
.message:hover{
    background-color:#4a5b68;
    padding:10px;
}   
.round{
    position: absolute;
    width: 19px;
    height: 20px;
    background-color: #fe5621;
    margin-top: 9px;
    margin-left: 10px;
    border-radius: 50%;
}
.number6{
    padding:5px 6px;
}
.tablewithoutborder{
    border:none;
}
.heading{
    border-bottom:2px solid #ebecf2;
}
.headingwithreducedheight{
    height:17px;
}
